@import 'headergryff'
@import 'media'
@import 'animations'
@import 'variable'

    
*
    margin: 0
    padding: 0
    box-sizing: border-box
    font-family: "Poppins"
    
body
    background-image: url('../img/gryffindor-bgc.jpg')
    min-height: 200px
    background-size: cover
    

header
    position: fixed
    top: 0
    left: 0
    width: 100%
    display: flex
    justify-content: center
    align-items: center
    transition: 0.6s
    padding: 40px 0
    z-index: 100000
    


// header ul
//     position: relative
//     display: flex
//     justify-content: center
//     align-items: center
       

// header ul li 
//     position: relative
//     list-style: none
    
// ul li:hover a 
//     filter: drop-shadow(0 0 20px var(--clr))
    

// .header
//     &__navbar
//         position: center
//         margin: 0 15px
//         text-decoration: none 
//         color: #fff
//         letter-spacing: 2px
//         font-weight: 500px
//         transition: 00.6s
//         font-size: 25px
//         text-align: center
//         &:hover
//             text-decoration: underline
        

// .home
//     font-size: 25px
//     color: #fff
//     text-decoration: none
//     font-weight: 500px
//     background-color: var(--clr)
//     border: none
//     border-radius: 50px
//     cursor: pointer
//     transition: all 0.3s ease 0s
//     padding: 9px 25px

// header.sticky 
//     padding: 20px 100px
//     background-color: rgba(255,197, 0,.8) 

// header.sticky ul li a 
//         color: #000


.container
    height: 2000px
    margin: 0 400px      
    background-image: url(../img/bgc2.jpg)
   
    h1
        padding-top: 150px
        color: $gryffindor1
        font-size: 80px
        display: flex
        text-decoration: none 
        justify-content: center
        padding-right: auto
        text-transform: uppercase 
        text-align: center

    .vlajka
        justify-content: start
        align-items: start
        display: flex
        margin-left: 50px
        width: 7%
        margin-top: -189px
        margin-bottom: 50px
        justify-content: left
        flex-direction: column


    .cont
        margin-top: -200px

        .reditel
            
            display: flex       
            padding-left: 200px
           
            .name
                display: flex
                padding-left: 10px
                


        p
            font-size: 20px
            padding: 0 200px
            padding-top: 50px
               


// responzivita
@media (max-width: 2181px)
    .container
        
        margin: 0 200px 

@media (max-width: 1920px)
    .container
        p
            font-size: 20px
            padding: 0 200px
            margin-top: -150px

@media (max-width: 1700px)
    .container
        margin: 0 100px
        p
            font-size: 20px
            padding: 0 200px
            margin-top: -150px

